body {
    background-color: aquamarine;
}

.cuadrado1 {
    background-color:#ff0000;
    width: 250px;
    height: 250px;
}

.cuadrado2 {
    background-color:#ff0033;
    width: 250px;
    height: 250px;
}

.cuadrado3 {
    background-color:#ff0066;
    width: 250px;
    height: 250px;
}

.cuadrado4 {
    background-color:#ff0099;
    width: 250px;
    height: 250px;
}

.cuadrado5 {
    background-color:#ff00cc;
    width: 250px;
    height: 250px;
}

.cuadrado6 {
    background-color:#ff00ff;
    width: 250px;
    height: 250px;
}

.footer {
    background-color: cadetblue;
    height: 60px;
    text-align: center;

}
